<?xml version="1.0" encoding="UTF-8"?>

<web-app
        version="3.1"
        metadata-complete="false"
        xmlns="http://xmlns.jcp.org/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

    <context-param>
        <description>Vaadin production mode</description>
        <param-name>productionMode</param-name>
        <param-value>false</param-value>
    </context-param>

    <context-param>
        <param-name>heartbeatInterval</param-name>
        <param-value>30</param-value>
    </context-param>

    <listener>
        <listener-class>
            it.algos.evento.EventoBootStrap
        </listener-class>
    </listener>


</web-app>
